.wrappers {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.count {
    padding: 12px 24px;
    text-align: center;
    font-size: 20px;
    color: rgb(234, 4, 4);
    background-color: rgb(217, 214, 10);
    border-radius: 10px;
    cursor: pointer;
}

.head-time {
    padding: 12px 24px;
    text-align: center;
    font-size: 20px;
    color: aliceblue;
    background-color: rgb(179, 46, 10);
    border-radius: 10px;
    cursor: pointer;
}

// .modal-cont {
//     position: fixed;
//     height: 100%;
//     width: 100%;
//     background-color: rgba(0, 0, 0, 0.47);
//     top: 0;
//     left: 0;
//     overflow: auto;
// }

.select-modal {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    background-color: azure;
    height: 90vh;
    background-image: url("../../img/d34b845b5bd509c2b6c946770c44c0f1.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: right;
    transform: translateY(-750px);
    position: relative;
    border-radius: 16px;
    position: fixed;
    left: 0;
    right: 0;


}

.modal-body {
    position: absolute;
    padding: 30px;
    width: 100%;
    max-width: 400px;
    padding-top: 8%;
    right: 0;
    bottom: 0;

}

.btns1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    padding: 20px 70px;
    background-color: green;
    color: white;
    font-weight: bold;
    font-size: 32px;
    border-radius: 60px;
    border: none;
    transition: 0.3s ease-in-out;
    margin-bottom: 20px;
}

.btns2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    padding: 20px 70px;
    background-color: rgb(174, 155, 6);
    color: white;
    font-weight: bold;
    font-size: 32px;
    border-radius: 60px;
    border: none;
    transition: 0.3s ease-in-out;
    margin-bottom: 20px;

}

.btns3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    padding: 20px 70px;
    background-color: rgb(181, 19, 19);
    color: white;
    font-weight: bold;
    font-size: 32px;
    border-radius: 60px;
    border: none;
    transition: 0.3s ease-in-out;


}

.btns1:hover {
    scale: 1.1;
    transition: 0.3s ease-in-out;
}

.btns2:hover {
    scale: 1.1;
    transition: 0.3s ease-in-out;
}

.btns3:hover {
    scale: 1.1;
    transition: 0.3s ease-in-out;
}

.modal-overwrapper {
    display: block;
}

.none {
    display: none;
}

.block {
    display: block;
}







.modal-wrap {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-image: url("../../img/images.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}

.modal-bodys {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 480px;

}

.restartbtn {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    padding: 20px 70px;
    background-color: rgb(181, 19, 19);
    color: white;
    font-weight: bold;
    font-size: 32px;
    border-radius: 60px;
    border: none;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    margin-right: 30px;
}

.restartbtn:hover {
    scale: 1.1;
    transition: 0.3s ease-in-out;
}

.storybtn {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    padding: 20px 70px;
    background-color: rgb(181, 19, 19);
    color: white;
    font-weight: bold;
    font-size: 32px;
    border-radius: 60px;
    border: none;
    transition: 0.3s ease-in-out;
    cursor: pointer;

}

.storybtn:hover {
    scale: 1.1;
    transition: 0.3s ease-in-out;
}


/* // table */

.modal-tablewrapper {
    background-color: #000000f1;
    padding: 20px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
}

.noneTable {
    display: none;
}

#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td,
#customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even) {
    background-color: #f2f2f2;
}

#customers tr:hover {
    background-color: #ddd;
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}